

<div id="BoardWrapper">
    <div id="BoardContainer">
        @for (int r = 0; r < TheGameBoard.RowCount; r++)
        {
            <div class="game-board-row">
                @for (int c = 0; c < TheGameBoard.ColumnCount; c++)
                {
                    GameTile gameTile = TheGameBoard.Board[r, c];
                    var shadowColor = "";
                    if (gameTile.OwningPlayer != null)
                    {
                        shadowColor = $"box-shadow: inset 0 0 5px 2px {gameTile.OwningPlayer.Color};";
                    }
                    <div class="game-board-tile @GetCorrectBackgroundCSSClass(gameTile)" style="@shadowColor" @onclick="() => HandleGameBoardSquareClick(gameTile)">
                        @if(gameTile.Unit != null)
                        {
                            var unitcolor = $"background-color: {gameTile.Unit.OwningPlayer!.Color}; border-color:{gameTile.Unit.OwningPlayer!.BorderColor}";
                            
                            <div class="Unit  @(gameTile.Unit.Active ? "Active" : "")">
                            <img class ="@(gameTile.Unit.GetType().Name)" style="@unitcolor" src="/Images/Layer2Sprite.png"/>
                        </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
