

<div id="BoardWrapper">
    <div id="PlayerList">
        @foreach (Player player in TheGameBoard.Players)
        {
            <div>
                @player.Name - @player.Colors.TileColor
            </div>
        }
    </div>
    <div id="BoardContainer">
        @for (int r = 0; r < TheGameBoard.RowCount; r++)
        {
            <div class="game-board-row">
                @for (int c = 0; c < TheGameBoard.ColumnCount; c++)
                {
                    GameTile gameTile = TheGameBoard.Board[r, c];
                    var shadowColor = "";
                    if (gameTile.OwningPlayer != null)
                    {
                        shadowColor = $"box-shadow: inset 0 0 5px 2px {gameTile.OwningPlayer.Colors.TileColor};";
                    }
                    <div class="game-board-tile @GetCorrectBackgroundCSSClass(gameTile)" style="@shadowColor" @onclick="() => HandleGameBoardSquareClick(gameTile)">

                        @if (gameTile.Improvement != null)
                        {
                            var improvementColor = string.Empty;
                            //cities need borders. Should maybe make this a property of improvements so the piece itself will know
                            @if (gameTile.Improvement.GetType().Name == "City")
                            {
                                improvementColor = $"background-color: {gameTile.Improvement.OwningPlayer.Colors.TileColor};";
                            }
                            <div class="Tile-improvement">
                            <img class ="@(gameTile.Improvement.GetType().Name)" style="@improvementColor" src="/Images/Layer2Sprite.png"/>
                            </div>
                        }

                        @if(gameTile.Unit != null)
                        {
                            var unitColor = $"background-color: {gameTile.Unit.OwningPlayer.Colors.TileColor}; border-color:{gameTile.Unit.OwningPlayer.Colors.BorderColor}";
                            
                            <div class="Unit  @(gameTile.Unit.Active ? "Active" : "")">
                            <img class ="@(gameTile.Unit.GetType().Name)" style="@unitColor" src="/Images/Layer2Sprite.png"/>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
