@using territory_lords.Data.Models.Board
@using territory_lords.Data.Models.Units


<div id="BoardWrapper">
    <div id="PlayerList">
        @foreach (Player player in TheGameBoard.Players)
        {
            <div>
                @player.Name - @player.Colors.TileColor
            </div>
        }
    </div>
    <div id="BoardContainer">
        @for (int r = 0; r < TheGameBoard.RowCount; r++)
        {
            <div class="game-board-row">
                @for (int c = 0; c < TheGameBoard.ColumnCount; c++)
                {
                    GameBoardTile gameTile = TheGameBoard.GameTileLayer[r, c];
                    UnitTile? unitTile = TheGameBoard.UnitTileLayer[r, c];

                    var shadowColor = "";
                    if (gameTile.OwningPlayer != null)
                    {
                        shadowColor = $"box-shadow: inset 0 0 5px 2px {gameTile.OwningPlayer.Colors.TileColor};";
                    }

                    <div class="game-board-tile @GetCorrectBackgroundCssClass(gameTile)" style="@shadowColor" @onclick="() => HandleGameBoardSquareClick(gameTile)" @onclick:stopPropagation="true">
                        
                        @if (gameTile.Special)
                        {
                            <div class="Tile-special">
                                <img class="@GetCorrectSpecialCssClass(gameTile.LandType)" src="/Images/Layer2Sprite.png"/>
                            </div>
                        }

                        @if (gameTile.Improvement != null)
                        {
                            var improvementColor = string.Empty;
                            //cities need borders. Should maybe make this a property of improvements so the piece itself will know
                            @if (gameTile.Improvement.GetType().Name == "City")
                            {
                                improvementColor = $"background-color: {gameTile.Improvement.OwningPlayer.Colors.TileColor};";
                            }
                            <div class="Tile-improvement">
                            <img class="@(gameTile.Improvement.GetType().Name)" style="@improvementColor" src="/Images/Layer2Sprite.png"/>
                            </div>
                        }

                        @if(unitTile?.Unit != null)
                        {
                            var unitColor = $"background-color: {unitTile.OwningPlayer.Colors.TileColor}; border-color:{unitTile.OwningPlayer.Colors.BorderColor}";
                            
                            <div class="Unit @(unitTile.Active ? "Active" : "")" @onclick="() => HandleUnitTileClick(unitTile)" >
                            <img class ="@(unitTile.Unit.GetType().Name)" style="@unitColor" src="/Images/Layer2Sprite.png"/>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
