@using Microsoft.Identity.Web
@using Microsoft.Extensions.Options
@inject IOptionsMonitor<MicrosoftIdentityOptions> microsoftIdentityOptions

<AuthorizeView>
    <Authorized>
        @if (canEditProfile)
        {
            <a href="MicrosoftIdentity/Account/EditProfile">Hello, @context.User.Identity.Name!</a>
        }
        else
        {
            <text>Hello, @context.User.Identity.Name!</text>
@*            <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><span>Actor</span>@claim.Subject?.Actor</li>
                <li><span>Label</span>@claim.Subject?.Label</li>
                <li><span>Name</span>@claim.Subject?.Name</li>
                <li><span>Type</span>@claim.Type</li>
                <li><span>Value</span>@claim.Value</li>
            }
            </ul>*@
        }
        <br/>
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool canEditProfile;

    protected override void OnInitialized()
    {
        var options = microsoftIdentityOptions.CurrentValue;
        canEditProfile = !string.IsNullOrEmpty(options.EditProfilePolicyId);
    }
}